aws-sdk-signers==0.0.3
aws_sdk_bedrock_runtime==0.0.2
awscrt==0.27.2
ijson==3.4.0
PyAudio==0.2.14
pytz==2025.2
Rx==3.2.0
setuptools==80.8.0
smithy-aws-core==0.0.1
smithy-aws-event-stream==0.0.1
smithy-core==0.0.2
smithy-http==0.0.1
smithy-json==0.0.1
wheel==0.45.1
